.progress {
  border: 1px solid black;
  border-radius: $border-radius;
  height: 25px;
  margin-bottom: 20px;
  padding: 5px;
}
.progress--big {
  height: 50px;
}

.progress--color-red {
  border-color: orangered;
}

.progress__bar {
  height: 100%;
  background-color: black;
}

.progress--color-red .progress__bar {
  background-color: lighten(orangered, 30);
}